@model SignalRWebUı.Dtos.CategoryDtos.UpdateCategoryDto

@{
    ViewData["Title"] = "GetCategory";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <div class="card-title">Kategori Ekleme Formu</div>
        </div>
        <form method="post">
            <div class="card-body">
                <input type="hidden" asp-for="CategoryID">
                <div class="form-group">
                    <label for="email">Kategori Adı</label>
                    <input type="text" asp-for="CategoryName" class="form-control" id="email" placeholder="Kategori Adı Giriniz...">
                </div>


            </div>
            <div class="card-action">
                <button class="btn btn-success">Güncelle</button>
                <a href="/Category/Index" class="btn btn-danger">İptal Et</a>
            </div>
        </form>
    </div>
</div>

