
@{
    Layout = null;
}

<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <style type="text/css">
        body {
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
            margin: 0 !important;
            padding: 0 !important;
        }

        a[x-apple-data-detectors] {
            color: inherit !important;
            text-decoration: none !important;
            font-size: inherit !important;
            font-family: inherit !important;
            font-weight: inherit !important;
            line-height: inherit !important;
        }

        .mobilemenu a {
            color: #ffffff;
            text-decoration: none;
        }

        @@media only screen and (max-width: 768px) {
            .blue {
                background-color: #0980d2;
            }

            .border-none {
                border: none !important;
            }

            .xs-block {
                display: block !important;
            }

            .text-center {
                text-align: center !important;
            }

            .goster {
                overflow: visible !important;
                max-height: 219px !important;
            }

            .mobile-lineheight {
                line-height: 15px !important;
            }
        }

        @@media only screen and (max-width: 640px) {
            .mobilelogo {
                display: block !important;
                text-align: center !important;
                padding-bottom: 20px !important
            }

            .mobilemenu {
                display: block !important;
                width: 100% !important;
            }

            .xspr15 {
                padding-right: 15px !important;
            }

            .xspad15 {
                padding-right: 15px !important;
                padding-left: 15px !important;
            }

            .xspl15 {
                padding-left: 15px !important;
            }

            .xspadmenu {
                padding-right: 0px !important;
            }
        }

        @@media only screen and (max-width: 650px) {
            .hidden-xs {
                display: none !important;
            }

            .xs-pr30 {
                padding-left: 30px !important;
            }

            .xs-pr30 {
                padding-right: 30px !important;
            }

            .table-responsive {
                width: 100%;
            }

            .img-responsive {
                max-width: 100%;
                height: auto;
            }

            #footer-table {
                width: 100% !important;
            }
        }

        @@media (min-width: 321px) and (max-width: 425px) {
            .mobilemenu {
                padding-right: 0px !important;
            }

                .mobilemenu table {
                    margin: 0 auto !important;
                    width: 90% !important;
                    text-align: center !important;
                    float: none !important;
                }
        }

        @@media (min-width: 650px) and (max-width: 768px) {
            .hidden-sm {
                display: none !important;
            }

            .table-responsive {
                width: 640px;
            }
        }

        @@media (max-width: 768px) {
            .detail-button {
                width: 100% !important;
                padding: 15px 0px !important;
                float: left;
                text-align: center;
            }

            .color-white a {
                color: #ffffff;
            }
        }

        @@media (max-width: 424px) {
            .mobilemenu a {
                color: #ffffff;
                text-decoration: none;
            }

            .smalltext {
                font-size: 12px !important;
            }

            .xspr15 {
                padding-right: 10px !important;
            }

            .xspad15 {
                padding-right: 8px !important;
                padding-left: 8px !important;
            }

            .xspl15 {
                padding-left: 10px !important;
            }

            .xsmenupad1 {
                padding-right: 10px !important
            }

            .xsmenupad2 {
                padding-left: 10px !important;
                padding-right: 10px !important
            }

            .xsmenupad3 {
                padding-left: 10px !important
            }
        }
    </style>
    <title>Yapı Kredi</title>
</head>
<body marginheight="0" marginwidth="0" leftmargin="0" topmargin="0" bgcolor="#ffffff">
    <table cellpadding="0" cellspacing="0" border="0" width="900" align="center" bgcolor="#0881d4" class="table-responsive">
        <tr>
            <td style="vertical-align:top;line-height:0px; font-size:0px;">
                <table cellpadding="0" cellspacing="0" border="0" align="center">
                    <tr>
                        <td style="padding-top:50px;padding-bottom:25px;">
                            <table class="table-responsive" width="660" align="center" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td class="mobilelogo" style="vertical-align:top;line-height:0px; font-size:0px;"><a href="https://www.yapikredi.com.tr/" target="_blank"><img class="img-responsive" src="https://mailimg.yapikredi.com.tr/www/mail/EMAIL_VERIFY/images/logo.jpg" alt="" width="167" height="30" border="0" /></a></td>
                                    <td class="mobilemenu" style="width:373px;">
                                        <table class="smalltext" align="right" style="color:#ffffff;font-family:Arial, Helvetica, sans-serif;font-size:14px;line-height:20px;" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td class="xsmenupad1" style="padding-right:20px;border-right:1px solid #399add;">0850 222 0 444</td>
                                                <td class="xsmenupad2" style="padding-right:20px;padding-left:20px;border-right:1px solid #399add;">444 0 444</td>
                                                <td class="xspadmenu xsmenupad3" style="padding-left:20px;padding-right:0px;"><a style="color:#ffffff;text-decoration:none" href="https://www.yapikredi.com.tr/" target="_blank">yapikredi.com.tr</a></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table width="640" class=" table-responsive border-none" cellpadding="0" cellspacing="0" align="center">


                                <tr>
                                    <td bgcolor="#ffffff" class="xstext" valign="top" style="padding-top:15px;padding-bottom:5px;padding-left:30px;padding-right:30px;color:#094190;font-family:Arial, Helvetica, sans-serif;font-size:15px;line-height:22px;text-align:left;" width="640">
                                        E-posta adresiniz doğrulanmıştır.
                                        <br>
                                        Teşekkür ederiz.


                                    </td>
                                </tr>


                                <tr height="20">
                                    <td style="background-color:#FFFFFF;">&nbsp;</td>
                                </tr>

                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr style="text-align:center;">
            <td style="padding-bottom:30px;padding-top:30px;" bgcolor="#0881d4">
                <table class=" border-none" cellpadding="0" cellspacing="0" align="center" bgcolor="#0881d4">
                    <tr>
                        <td class="xspr15" style="vertical-align:top;line-height:0px; font-size:0px;padding-right:30px;border-right:1px solid #399add;"><a href="https://www.facebook.com/YapiKredi" target="_blank"><img src="https://mailimg.yapikredi.com.tr/www/mail/EMAIL_VERIFY/images/face.jpg" alt="" width="10" height="20" border="0" /></a></td>
                        <td class="xspad15" style="vertical-align:top;line-height:0px; font-size:0px;padding-right:30px;padding-left:30px;border-right:1px solid #399add;"><a href="https://twitter.com/YapiKredi" target="_blank"><img src="https://mailimg.yapikredi.com.tr/www/mail/EMAIL_VERIFY/images/twit.jpg" alt="" width="25" height="20" border="0" /></a></td>
                        <td class="xspad15" style="vertical-align:top;line-height:0px; font-size:0px;padding-right:30px;padding-left:30px;border-right:1px solid #399add;"><a href="https://www.instagram.com/yapikredi/" target="_blank"><img src="https://mailimg.yapikredi.com.tr/www/mail/EMAIL_VERIFY/images/insta.jpg" alt="" width="20" height="20" border="0" /></a></td>
                        <td class="xspad15" style="vertical-align:top;line-height:0px; font-size:0px;padding-right:30px;padding-left:30px;border-right:1px solid #399add;"><a href="https://www.youtube.com/user/YapiKrediTV" target="_blank"><img src="https://mailimg.yapikredi.com.tr/www/mail/EMAIL_VERIFY/images/youtube.jpg" alt="" width="29" height="20" border="0" /></a></td>
                        <td class="xspl15" style="vertical-align:top;line-height:0px; font-size:0px;padding-left:30px;"><a href="https://www.yapikredi.com.tr/memnuniyetiniz-icin-buradayiz/bize-yazin.aspx" target="_blank"><img src="https://mailimg.yapikredi.com.tr/www/mail/EMAIL_VERIFY/images/writeus.jpg" alt="" width="158" height="20" border="0" /></a></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="3" align="center" bgcolor="#2058a6" style="font-family:Arial, Helvetica, sans-serif; font-size:11px;line-height:16px; color:#ffffff; padding:0 50px;">
                <br />
                <span class="color-white">

                    Lütfen size gelen e-postaları Spam (Junk) mail olarak işaretlemeyiniz. <br />
                    Kampanyalarla ilgili e-posta almak istemiyorsanız lütfen <a href="#"> <font style="font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#ffffff; font-weight:bold;">tıklayınız.</font> </a> <br />
                    <strong>Yapı ve Kredi Bankası A.Ş.</strong> - Büyükdere Caddesi Yapı Kredi Plaza D Blok Levent 34330 Beşiktaş - İstanbul <br />
                    Mersis no: 0937002089200741
                </span> <br />
                <br />
            </td>
        </tr>
    </table>
</body>
</html>
